.text-area-group-1 {
    height: 200px;
    width: 500px;
    resize: none;
}

.update-submit {
    margin-left: 200px;
    background-color: red;
    color: white;
    height: 50px;
    font-size: larger;
    margin-top: 20px;
}
