.section-one {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

#section-one-desc {
    font-size: larger;
}

#section-one-info {
    width: 500px;
    height: 300px;
    margin-right: 110px;
}

.section-two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.section-two-desc {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#section-two-title {
    margin-bottom:20px;
}

.section-three {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}

.section-four {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.left-box-title {
    width: 500px;
    height: 300px;
    text-align: left;
    margin-left:110px;
}

h1 {
    font-size: 40px;
}

.icon {
    width: 100px;
    height: 100px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.link {
    color: darkcyan;
    font-size: 20px;
    cursor: pointer;
}

.disabled-link {
    color:grey;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

span {
    font-family: Arial, Helvetica, sans-serif;
}

.join {
    color: white;
    background-color: red;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    font-size: 25px;
}


.column-three.column{
    width: 175px;
    margin-right: 200px;

}

.column-one.column {
    margin-left: 200px;
}
