.profile-dropdown.hidden {
    display: none
}

.user-buttons {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    height: 30px;
    width: 120px;
}

.logo {
    width: 50px;
    height: 50px;
}

.profile-button {
    display: flex;
    flex-direction: column;
}

.user-login-signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
